<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AudioFilePath" value="D:\WorkSpace\VS2010\WebSocket\superwebsocket\Server\bin\Debug\AudioFile"/>
    <add key="serverAddress" value="ws:/ /114.55.248.163:2014"/>
    <add key="SN" value="90E52F4D-BCA5-422F-897A-A8D3CEF35DBF"/>
  </appSettings>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
              <binding name="WSHttpBinding_IAuscultationService"  useDefaultWebProxy="false" maxBufferPoolSize="10484760" maxReceivedMessageSize="10484760">
                <readerQuotas maxDepth="40960" maxStringContentLength="10484760" maxArrayLength="10484760"
                              maxBytesPerRead="40960" maxNameTableCharCount="10484760" />
                <security mode="None" />
              </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://114.55.248.163/Query" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IAuscultationService"
                contract="AuscultationService.IAuscultationService" name="WSHttpBinding_IAuscultationService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>